<div class="register-container   w-75 mx-auto p-4 m-3 shadow-lg rounded-4">
  <h2 class="main-color-blue">Register</h2>
  <div class="d-flex  ">
    <div class="w-50">
            <form [formGroup]="registerForm" (ngSubmit)="RegisterSubmit()">
    <div class="my-2">
      <label for="firstName">First Name</label>
      <input
        formControlName="firstName"
        type="text"
        id="firstName"
        class="form-control"
        placeholder="Enter your first name" [class.is-invalid]="firstName?.invalid && firstName?.touched"
          [class.is-valid]="firstName?.valid && firstName?.touched"
      />
      @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('firstName')?.getError('required')){
            <span class="m-0">First name is required</span>
          }
          @else if (registerForm.get('firstName')?.getError('minlength')) {
            <span class="m-0">First name must be at least 3 characters</span>
          }
        </div>
      }
    </div>


    <div class="my-2">
      <label for="lastName">Last Name</label>
      <input
        formControlName="lastName"
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Enter your last name" [class.is-invalid]="lastName?.invalid && lastName?.touched"
          [class.is-valid]="lastName?.valid && lastName?.touched"
      />
      @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('lastName')?.getError('required')){
            <span class="m-0">Last name is required</span>
          }
          @else if (registerForm.get('lastName')?.getError('minlength')) {
            <span class="m-0">Last name must be at least 3 characters</span>
          }
        </div>
      }
    </div>


    <div class="my-2">
      <label for="userName">Username</label>
      <input
        formControlName="userName"
        type="text"
        id="userName"
        class="form-control"
        placeholder="Enter your username" [class.is-invalid]="userName?.invalid && userName?.touched"
          [class.is-valid]="userName?.valid && userName?.touched"
      />
      @if (registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('userName')?.getError('required')){
            <span class="m-0">Username is required</span>
          }
          @else if (registerForm.get('userName')?.getError('minlength')) {
            <span class="m-0">Username must be at least 3 characters</span>
          }
        </div>
      }
    </div>


    <div class="my-2">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="Enter your email" [class.is-invalid]="email?.invalid && email?.touched"
          [class.is-valid]="email?.valid && email?.touched"
      />
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('email')?.getError('required')){
            <span class="m-0">Email is required</span>
          }
        </div>
      }
    </div>


    <div class="my-2">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter your password" [class.is-invalid]="password?.invalid && password?.touched"

      />
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('password')?.getError('required')){
            <span class="m-0">Password is required</span>
          }
        </div>
      }
    </div>


    <div class="my-2">
      <label for="confirmNewPassword">Confirm Password</label>
      <input
        formControlName="confirmNewPassword"
        type="password"
        id="confirmNewPassword"
        class="form-control"
        placeholder="Confirm your password" [class.is-invalid]="confirmNewPassword?.invalid && confirmNewPassword?.touched"

      />
      @if (registerForm.get('confirmNewPassword')?.touched && registerForm.get('confirmNewPassword')?.invalid) {
        <div class="alert alert-danger w-100">
          @if(registerForm.get('confirmNewPassword')?.getError('passwordMismatch')){
            <span class="m-0">Passwords do not match</span>
          }
        </div>
      }
    </div>


    <div *ngIf="msgErro" class="alert alert-danger w-100">
      {{ msgErro }}
    </div>


    <button type="submit" class="btn main-background-yellow border-0 fw-bolder text-light" [disabled]="isLoding || registerForm.invalid">
      <span *ngIf="isLoding" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ isLoding ? 'Registering...' : 'Register' }}
    </button>

  </form>
    </div>


  <div class=" w-50">
    <img src="Register.jpg" alt="" class="w-100">
  </div>

  </div>


</div>



