<section>
  <div class="container-fluid mt-2">
     <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="slid.avif" alt="" class="w-100" height="500" ></ng-template>
    <ng-template carouselSlide><img src="slid2.avif" alt="" class="w-100" height="500" ></ng-template>
    <ng-template carouselSlide><img src="slid3.avif" alt="" class="w-100" height="500" ></ng-template>
  </owl-carousel-o>
  </div>
</section>

<section class="my-5">
  <h3 class="text-center mb-4">Product List</h3>
  <div class="container">
    <div class="row g-4">
      @for (product of productsList.slice(0,8); track product.id) {
        <div class="col-md-3">
          <div class="card h-100 shadow-sm product-card " >
            <img [src]="product.image" class="card-img-top w-100 h-75" [alt]="product.name" [routerLink]="['/details',product.name]" routerLinkActive="router-link-active" />
            <div class="card-body">
             <div [routerLink]="['/details',product.name]" routerLinkActive="router-link-active" >
                <h5 class="card-title">{{product.name.split(" ",2).join("")}}</h5>
              <h6 class="text-secondary fs-6">{{product.categoryName}}</h6>

              <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold ">{{product.price |currency:'EGP'}} </span>


              </div>
             </div>
              <button class="btn btn-main w-100 pt-1">Add To Card</button>
            </div>
          </div>
        </div>

      }
    </div>
  </div>
</section>


