.btn-up {
  position: fixed;

  bottom: 30px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;


}



.scroll-to-top {
  background-color: #fed700;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  /* البداية: مخفي */
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top.hovered {
  transform: scale(1.1);
}

.scroll-to-top i {
  color: white;
}
