<div class="login-container   w-50 mx-auto p-4 my-5  shadow-lg rounded-4">
  <h2 class="main-color-blue">Login</h2>
  <div class="d-flex">
    <div class="w-50">
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <div class="my-2">
      <label for="email">Email</label>
      <input
       formControlName="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="Enter your email"  [class.is-invalid]="email?.invalid && email?.touched"
          [class.is-valid]="email?.valid && email?.touched"
       
      />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <div class="alert alert-danger w-100 mx-auto   ">
          @if(loginForm.get('email')?.getError('required')){
            <h6 class="m-0">email is required</h6>
          }
          @else if (loginForm.get('email')?.getError('email')) {
             <span class="m-0">enter valid email</span>

          }

        </div>
      }
    </div>

    <div class="my-2">
      <label for="password">Password</label>
      <input
       formControlName="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter your Password" [class.is-invalid]="password?.invalid && password?.touched" 
           [class.is-valid]="password?.valid && password?.touched"
       
      />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <div class="alert alert-danger w-100 mx-auto">
          @if(loginForm.get('password')?.getError('required')){
            <span class="m-0 ">Password is required</span>
          }
          @else if (loginForm.get('password')?.getError('password')) {
             <span class="m-0">enter valid Password</span>

          }

        </div>
      }
    </div>

    <button type="submit" class="btn main-background-yellow border-0 fw-bolder text-light " [disabled]="isLoding || loginForm.invalid">
      <span *ngIf="isLoding" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ isLoding ? 'Logging in...' : 'Login' }}
    </button>

  </form>

    </div>
    <div class="w-50">
      <img src="login.jpg" alt="" class="w-100">

    </div>
  

  </div>

</div>




